{% extends "baseTemplate.html.twig" %}


{% block content %}


	<div class="container">
		<div class="card">
			<div class="card-body">

				<h2 class="perso-titre">
					Listes des utilisateurs
				</h2>
				<input type="text" id="searchInput" class="form-control my-3" placeholder="Rechercher...">

				<div class="d-flex flex-row ">
					<div class="p-2">
						<a href="{{ path("utilisateur_new")}}" class="btn btn-success fw-bold">
							Add
						</a>

					</div>
				</div>

				<table class="table">
					<thead class="table-dark">
						<tr>
							<th>
								<i class="fas fa-ellipsis-vertical"></i>
							</th>
							<th>Nom d'utilisateur</th>
							<th>matricule</th>
							<th>mail</th>
							<th>Rôle</th>
							<th>Applications</th>
							<th>Code Sage</th>
							<th>Agence Autoriser</th>
							<th>Service Autoriser</th>
						</tr>
					</thead>
					<tbody id="tableBody">
						{% for item in data %}

							<tr>
								<td>
									<div class="dropdown">
										<button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false" style="text-decoration: none; color: #000; font-weight: 700">
											<i class="fas fa-ellipsis-vertical"></i>
										</button>
										<ul class="dropdown-menu dropdown-menu-end" id="dropdown-menu" aria-labelledby="dropdownMenuButton" style="">
											<li>
												<a class="dropdown-item fw-bold" href="{{ path("utilisateur_show", {id: item.id})}}">Détails</a>
											</li>
											<li>
												<a class="dropdown-item fw-bold" href="{{ path("utilisateur_update", {id: item.id})}}">Modifier</a>
											</li>
											<li>
												<a class="dropdown-item fw-bold" style="color: red;" href="{{ path("utilisateur_delete", {id: item.id})}}">Supprimer</a>
											</li>
										</ul>
									</div>
								</td>
								<td>{{item.nomUtilisateur}}</td>
								<td>{{item.matricule}}</td>
								<td>{{item.mail}}</td>
								<td>
									<ul>
										{% for a in item.roles %}
											<li>{{a.rolename}}</li>
										{% endfor %}
									</ul>
								</td>
								<td>

									<ul>
										{% for a in item.applications %}
											<li>{{a.codeApp}}</li>
										{% endfor %}
									</ul>
								</td>
								<td>{{item.agenceServiceIrium.serviceSagePaie}}</td>
								<td>
									<ul>
										{% for a in item.agenceAutoriserCode %}
											<li>{{a}}</li>
										{% endfor %}
									</ul>
								</td>
								<td>
									<ul>
										{% for a in item.serviceAutoriserCode %}
											<li>{{a}}</li>
										{% endfor %}
									</ul>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascript %}
	<script src="{{ App.base_path }}/Views/js/admin/utilisateur/listUtilisateur.js" type="module"></script>
{% endblock %}
