{% extends "baseTemplate.html.twig" %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ App.base_path }}/Views/css/admin/utilisateur/new.css?v=2025.10.22.08.00">
{% endblock %}

{% block content %}
	<div class=" container">
		<div class="card">
			<div class="card-body">

				<div class="container">
					<h2 class="text-center fw-bold bg-black py-2" style="color: #FBBB01">
						Formulaire d'ajout Utilisateur
					</h2>

					<a href="{{path("utilisateur_index")}}" class="btn btn-sm  text-white my-3 fw-bold" style="background-color: #FBBB01;">Liste</a>

					{{ form_start(form) }}
					{{ form_errors(form)}}

					<div class="row">
						<div class="col-12 col-md-6">
							{{ form_row(form.nom_utilisateur, {'attr': {'class': 'selectUser form-control'}}) }}
							{{ form_row(form.matricule) }}
							{{ form_row(form.mail) }}
							{{ form_row(form.numTel) }}
							{{ form_row(form.permissions)}}
							{{ form_row(form.roles)}}
							<div class="row">
								<div class="col-12 col-md-6">
									{{ form_row(form.applications)}}
								</div>
								<div class="col-12 col-md-6">
									{{ form_row(form.societtes)}}
								</div>
							</div>
						</div>
						<div class="col-12 col-md-6">
							{{ form_row(form.agenceServiceIrium, {'attr': {'class': 'selectUser form-control'}})}}
							{{ form_row(form.personnels, {'attr': {'class': 'selectUser form-control'}})}}
							{{form_row(form.superieur)}}
							{{ form_row(form.fonction)}}
							{{ form_row(form.agencesAutorisees, {'attr': {'class': 'superieurs'}})}}
							{{ form_row(form.serviceAutoriser, {'attr': {'class': 'superieurs'}})}}
						</div>
					</div>

					<button type="submit" class="btn btn-primary">
						<i class="fas fa-save"></i>
						Enregistrer
					</button>
					{{ form_end(form) }}
				</div>

			</div>
		</div>

	{% endblock %}

	{% block javascript %}
		<script src="{{ App.base_path }}/Views/js/admin/utilisateur/user.js?v=2025.10.22.08.00"></script>
	{% endblock %}
