{% extends "baseTemplate.html.twig"%}

{# {% form_theme form _self %} #}

{% block content %}
	<div class="container">
		<h2 class="text-center fs-1 fw-bold bg-black py-2" style="color: #FBBB01">
			Formulaire Agence Service Autoriser
		</h2>

		<a href="{{path("autoriser_index")}}" class="btn btn-sm  text-white my-3 fw-bold" style="background-color: #FBBB01;">Liste</a>

		{{ form_start(form) }}
		{{ form_errors(form)}}

		<div class="row">
			<div class="col-12 col-md-6">

				{{ form_row(form.Session_Utilisateur, {'attr': {'class': 'selectUser form-control'}}) }}

			</div>
			<div class="col-12 col-md-6">

				{{ form_row(form.Code_AgenceService_IRIUM) }}

			</div>
		</div>


		<button type="submit" class="btn btn-primary">
			<i class="fas fa-save"></i>
			Enregistrer
		</button>
		{{ form_end(form) }}
	</div>
{% endblock %}

{% block javascript %}
	<script src="{{ App.base_path }}/Views/js/admin/agenceServiceAutoriser/new.js?v=2025.10.22.08.00"></script>
{% endblock %}
