<div class="d-flex justify-content-between">
	<div>{# Bouton EXCEL#}
		{# <a href="#" id="excelDit" name="excelBadm" class="btn btn bg-success text-white my-3 fw-bold" data-bs-toggle="tooltip" title="Exporter en Excel">
											<i class="fas fa-table"></i>
											Excel
										</a> #}
	</div>
	<div>
		<p class="fw-bold my-3" id="nombreResultat">{{ resultat }}
			Resultats</p>
	</div>
	<div>
		<p class="fw-bold my-3" id="nombreResultat">{{ currentPage ~ ' / ' ~ totalPages }}
			pages</p>
	</div>
	<div class="navigation">
		{% set queryParams = criteria %}

		{# Lien vers la première page #}
		{% if currentPage > 1 %}
			<a class="btn btn-dark my-3" href="{{ path('consultation_page_index', queryParams|merge({'page': 1})) }}" data-bs-toggle="tooltip" title="Première page">
				<i class="fas fa-angle-double-left text-warning"></i>
			</a>
		{% endif %}

		{# Lien vers la page précédente #}
		{% if currentPage > 1 %}
			<a class="btn btn-dark my-3" href="{{ path('consultation_page_index', queryParams|merge({'page': currentPage - 1})) }}" data-bs-toggle="tooltip" title="Page précédente">
				<i class="fas fa-angle-left text-warning"></i>
			</a>
		{% endif %}

		{# Lien vers la page suivante #}
		{% if currentPage < totalPages %}
			<a class="btn btn-dark my-3" href="{{ path('consultation_page_index', queryParams|merge({'page': currentPage + 1})) }}" data-bs-toggle="tooltip" title="Page suivante">
				<i class="fas fa-angle-right text-warning"></i>
			</a>
		{% endif %}

		{# Lien vers la dernière page #}
		{% if currentPage < totalPages %}
			<a class="btn btn-dark my-3" href="{{ path('consultation_page_index', queryParams|merge({'page': totalPages})) }}" data-bs-toggle="tooltip" title="Dernière page">
				<i class="fas fa-angle-double-right text-warning"></i>
			</a>
		{% endif %}
	</div>
</div>
