{% extends "baseTemplate.html.twig" %}

{% block title %}Première form DOM
{% endblock %}

{% block stylesheets %}
	<link href="{{ App.base_path }}/Views/css/dom/firstForm.css" rel="stylesheet"/>
{% endblock %}

{% block content %}

	<div class="container">
		<div class="card p-3">
			<div class="card-body">
				<div class="row">
					<div class="col-12">
						<h3 class="perso-titre">Demande d'Ordre de Mission</h3>
					</div>
				</div>
				{% include "/partials/_notification.html.twig" %}


				{{ form_start(form)}}
				<div class="row">
					<div class="col-6">
						{{ form_row(form.agenceEmetteur)}}
					</div>
					<div class="col-6">
						{{ form_row(form.serviceEmetteur)}}
					</div>
				</div>
				<div class="row">
					<div class="col-6">
						{{form_row(form.sousTypeDocument)}}
					</div>

					<div class="col-6" id="chek">
						{{ form_row(form.salarie)}}
					</div>

				</div>
				<div class="row">
					<div class="col-12">
						{{ form_row(form.categorie)}}
					</div>
				</div>
				<div class="row" id="Interne">

					{{ form_row(form.matriculeNom)}}

					{{ form_row(form.matricule)}}

				</div>
				<div class="row" id="externe">

					{{ form_row(form.nom)}}

					{{ form_row(form.prenom)}}

					{{ form_row(form.cin)}}

				</div>
				<div class="row">
					<div class="mt-2">
						<button type="submit" class="btn btn-info fw-bold ajout-overlay">
							Suivant
							<i class="fas fa-arrow-right"></i>
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
{{ form_end(form)}}{% endblock %}{% block javascript %}
<script src="{{ App.base_path }}/Views/js/dom/firstForm.js" type="module"></script>{% endblock %}
