{% extends "baseTemplate.html.twig" %}


{% block content %}


	<div class="container">
		<div class="card">
			<div class="card-body">

				<h2 class="perso-titre">
					Listes des personnels
				</h2>

				{{form_start(form)}}
				<div class="row d-flex justify-content-end">
					<div class="col-12 col-md-2">
						{{form_row(form.matricule)}}
					</div>
					<div class="col-12 col-md-2">
						<button class="btn btn-warning fw-bold" type="submit">
							<i class="fab fa-searchengin"></i>
							Recherche</button>
					</div>
				</div>
				{{form_end(form)}}
				<div class="d-flex justify-content-between ">
					<div>
						<a href="{{ path("personnnel_new")}}" class="btn btn-success fw-bold">
							Nouveau
						</a>
					</div>
					<div>
						<p class="fw-bold my-3" id="nombreResultat">{{resultat}}
							Resultats</p>
					</div>
					<div>
						<p class="fw-bold my-3" id="nombreResultat">{{currentPage ~' / '~ (totalPages)}}
							pages</p>
					</div>
					<div class="navigation">
						{% set queryParams = criteria  %}

						{% if currentPage > 1 %}
							<a class="btn btn-dark my-3" href="{{ path('badmListe_AffichageListeBadm', queryParams|merge({'page': currentPage - 1})) }}">
								<i class="fas fa-angle-left text-warning"></i>
							</a>
						{% endif %}


						{% if currentPage < totalPages %}
							<a class="btn btn-dark" href="{{ path('badmListe_AffichageListeBadm', queryParams|merge({'page': currentPage + 1})) }}">
								<i class="fas fa-angle-right text-warning"></i>
							</a>
						{% endif %}
					</div>
				</div>

				<table class="table">
					<thead class="table-dark">
						<tr>
							<th>
								<i class="fas fa-ellipsis-vertical"></i>
							</th>
							<th>Matricule</th>
							<th>Nom</th>
							<th>Prenoms</th>
							<th>Agence et service Sage</th>
							<th>Agence et service Irium</th>
						</tr>
					</thead>
					<tbody>
						{% for item in data %}

							<tr>
								<td>
									<div class="dropdown">
										<button class="btn btn-warning" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false" style="text-decoration: none; color: #000; font-weight: 700">
											<i class="fas fa-ellipsis-vertical"></i>
										</button>
										<ul class="dropdown-menu dropdown-menu-end" id="dropdown-menu" aria-labelledby="dropdownMenuButton" style="">
											<li>
												<a class="dropdown-item fw-bold" href="{{ path("personnel_show", {id: item.id})}}">Détails</a>
											</li>
											<li>
												<a class="dropdown-item fw-bold" href="{{ path("personnel_update", {id: item.id})}}">Modifier</a>
											</li>
											<li>
												<a class="dropdown-item fw-bold" style="color: red;" href="{{ path("personnel_delete", {id: item.id})}}">Supprimer</a>
											</li>
										</ul>
									</div>
								</td>
								<td>{{item.Matricule}}</td>
								<td>{{item.Nom}}</td>
								<td>{{item.Prenoms}}</td>
								<td>{{item.CodeAgenceServiceSage}}</td>
								<td>{{item.CodeAgenceServiceIRIUM | default('Pas de code agence') }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock %}
