{% extends "baseTemplate.html.twig" %}

{% block title %}
	Nouveau personnel
{% endblock %}

{% block content %}
	<div class="container mt-6 mb-4">
		<div class="card">
			<div class="card-body">
				<div class="container">
					<h3 class="perso-titre">
						Formulaire Personnel
					</h3>

					<a href="{{path("personnel_index")}}" class="btn btn-sm  text-white my-3 fw-bold" style="background-color: #FBBB01;">Liste</a>

					{{ form_start(form) }}
					{{ form_errors(form)}}

					<div class="row">
						<div class="col-12 col-md-6">
							{{ form_row(form.Matricule) }}
							{{ form_row(form.NumeroFournisseurIRIUM) }}
							{{ form_row(form.Nom) }}
							{{ form_row(form.Prenoms) }}
							{{ form_row(form.CodeAgenceServiceSage) }}
							{{ form_row(form.CodeAgenceServiceIRIUM) }}
						</div>
						<div class="col-12 col-md-6">
							{{ form_row(form.NumeroCompteBancaire) }}
							{{ form_row(form.LibelleAgenceServiceSage) }}
							{{ form_row(form.NumeroTelephone) }}
							{{ form_row(form.CodeServiceAgenceIRIUM) }}
							{{ form_row(form.LibelleServiceAgenceIRIUM) }}
							{{ form_row(form.Qualification) }}
						</div>
					</div>


					<button type="submit" class="btn btn-primary">
						<i class="fas fa-save"></i>
						Enregistrer
					</button>
					{{ form_end(form) }}
				</div>

			</div>
		</div>
	{% endblock %}
