{% extends "baseTemplate.html.twig" %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ App.base_path }}/Views/css/admin/contactAgenceAte/new.css">
{% endblock %}

{% block content %}
	<div class=" container">
		<div class="card">
			<div class="card-body">

				<div class="container">
					<h2 class="perso-titre">
						Formulaire d'ajout contact agence ate
					</h2>

					<a href="{{path("contact_agence_ate_index")}}" class="btn btn-sm  text-white my-3 fw-bold" style="background-color: #FBBB01;">Liste</a>

					{{ form_start(form) }}
					{{ form_errors(form)}}

					<div class="row">
						<div class="col-12 col-sm-12 col-md-4">
							{{ form_row(form.matricule)}}
							{{ form_row(form.agence)}}
							{{ form_row(form.atelier)}}
						</div>
						<div class="col-12 col-sm-12 col-md-4">
							{{ form_row(form.nom)}}
							{{ form_row(form.prenom)}}
						</div>
						<div class="col-12 col-sm-12 col-md-4">
							{{ form_row(form.email)}}
							{{ form_row(form.telephone)}}
						</div>
					</div>

					<button type="submit" class="btn btn-primary">
						<i class="fas fa-save"></i>
						Enregistrer
					</button>
					{{ form_end(form) }}
				</div>

			</div>
		</div>

	{% endblock %}

	{% block javascript %}
		<script type="module" src="{{ App.base_path }}/Views/js/admin/utilisateur/contactAgenceAte.js"></script>
	{% endblock %}
