<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin-bottom: 1%; z-index: 1030;">
	<div
		class="container">
		{# <a class="navbar-brand" href="{{ path("profil_acceuil")}}"><img src="{{ App.base_path }}/Views/assets/logoHFF.jpg" id="LogoHFF" alt="" width="150px"></a> #}
		<a class="navbar-brand" href="{{ path("profil_acceuil")}}"><img src="{{ asset("build/images/logoHFF.jpg")}}" id="LogoHFF" alt="" width="150px"></a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent" style="color: #fbbb01;">
			<ul
				class="navbar-nav ms-auto mb-2 mb-lg-0">
				{# DEBUT Récupération des id de role de l'utilisateur dans un tableau role_ids #}
				{% set role_ids = App.user.roleIds %}
				{% set serv_auto_ids = App.user.serviceAutoriserIds %}
				{# FIN Récupération des id de role de l'utilisateur dans un tableau role_ids #}

				{# DEBUT Affiche le menu "Dematerialisation"  #}
				{% set hasBDM = false %}
				{% set hasDOM = false %}
				{% set hasDIT = false %}
				{% set hasMAG = false %}
				{% set hasREP = false %}
				{% set hasTIK = false %}
				{% set hasDAP = false %}
				{% set hasDDP = false %}
				{% set hasCFR = false %}
				{% set hasINV = false %}
				{% set hasMUT = false %}
				{% set hasLCF = false %}
				{% set hasPAT = false %}
				{% set hasBDL = false %}

					{% for item in App.user.Applications %}
						{% if item.codeApp == 'BDM' %}
						{% set hasBDM = true %}
					{% elseif item.codeApp == 'DOM' %}
						{% set hasDOM = true %}
					{% elseif item.codeApp == 'DIT' %}
						{% set hasDIT = true %}
					{% elseif item.codeApp == 'MAG' %}
						{% set hasMAG = true %}
					{% elseif item.codeApp == 'REP' %}
						{% set hasREP = true %}
					{% elseif item.codeApp == 'TIK' %}
						{% set hasTIK = true %}
					{% elseif item.codeApp == 'DAP' %}
						{% set hasDAP = true %}
					{% elseif item.codeApp == 'DDP' %}
						{% set hasDDP = true %}
					{% elseif item.codeApp == 'CFR' %}
						{% set hasCFR = true %}
					{% elseif item.codeApp == 'INV' %}
						{% set hasINV = true %}
					{% elseif item.codeApp == 'MUT' %}
						{% set hasMUT = true %}
					{% elseif item.codeApp == 'LCF' %}
						{% set hasLCF = true %}
					{% elseif item.codeApp == 'PAT' %}
						{% set hasPAT = true %}
					{% elseif item.codeApp == 'BDL' %}
						{% set hasBDL = true %}
					{% endif %}
				{% endfor %}

				{# DEBUT Affiche le menu "Documentation" si un administrateur #}

				<li class="nav-item dropdown" id="DOCUWARE">
					<a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Documentation</a>
					<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
						{% if 1 in role_ids  %}
							<li>
								<a class="dropdown-item" target="_blank" href="https://hffc.docuware.cloud/DocuWare/Platform/WebClient/Client/Search?sed=7c943028-4942-41fe-9f2f-22343198849a&intgParams=JmVwPWhCb0c3M3ZhWUZ5YU56TmdoNjljV2VpZ2x2WjhoRGpuS1ViNkpyZUdZa3R2VW04OTFWeWc4X0VnckxkUVEtWkN3YmNGLWJLTFFrNlhZbXVleW9TOGdhZjB6NnV5d0o2ZWpjb2wwMHY4QWoxQ0hDdWdVNXg4bXVvZFo2WEQxOUVEMA2&_auth=ATIVC4BFzhmN0ylU3RnqqY9KFQhydNizf6dRCPLuK6h0OEGdfM_aOmH_ifZsrywe-OQeIZ93ilEatMuP3-ewqxeZX9JEBrLuH5ppI54mEjjGtXgd338uN5DxnPBdhkr60T5LN9gUn4QhIlHJmPDPWdSiNSiCG8z5J75IuFUVBwXVn3OMJybr_yphQq7_IMokMDuSfa7m8knG4J9bjW-GKaOWTy3AMK31TOSqlw09z4LL2owMTVXR6dcfNFIHUpRvdhPRlULT2TmDklTHYEXZ7HKu2oRAfE5V0Wk99acuXR-1AU-L65JSZGUExZk9m-EeApnCqNBaqfSM1lHnir78lcXkvw2FU_tYe4_hUj-KLNV_8y9_79Pifr4RP2fkbakaGvjSJdsa3iCI2T6zwx8eUOXtmIE_0x50XMYWrO730UhbQ37g0A1MJ0vRq2FVOLTJaq7wEaAXeuARenbndcpTEqKaAL2ytqvfeUMwDI4Ge1QcoV6Xb57aF7in_b2Bmc065ceWOURhBqg4FFgRu43SGJ5AJUy_uozxGgoFzfFc70WoQTvtUPspCASpGVwKoIWPxZig1iBS6jVh9xkaanYW_MaKXxC68-IDbAFBG-y8KvhuqZcvR70rzAvM2RARRjoK0">Test accès docuware</a>
							</li>
						{% endif %}
						<li>
							<a class="dropdown-item" href="/Upload/documentation/Structure%20analytique%20HFF.pdf" target="_blank">
								Plan analytique HFF
							</a>
						</li>
						<li>
							<a class="dropdown-item" href="{{ path("documentation_interne")}}">
								Documentation interne
							</a>
						</li>
					</ul>

				</li>

				{# FIN Affiche le menu "Documentation" si un administrateur #}


				<!-- DEBUT Demande d'intervention-->
				{% if hasDIT %}
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							Demande d'Intervention</a>
						<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
							{% if App.user.nomUtilisateur != 'stg.iaro' %}
								<li>
									<a class="dropdown-item" href="{{ path("dit_new")}}">Nouvelle Demande</a>
								</li>
								<li>
									<a class="dropdown-item" href="{{ path("dit_index")}}">Consultation</a>
								</li>
							{% endif %}
							<li>
								<a class="dropdown-item" target="_blank" href="{{ path("dit_dossier_intervention_atelier")}}">Dossier DIT</a>
							</li>
							{% if App.user.nomUtilisateur != 'stg.iaro' %}
								<li>
									<a class="dropdown-item" href="/Upload/excel_dit/DOSSIER%20DIT-%20Achats.xlsx" download>Télécharger Excel DIT</a>
								</li>
								<li>
									<a class="dropdown-item" href="/Upload/dit/glossaire_or/Glossaire_OR.pdf" target="_blank">Glossaire OR</a>
								</li>
							{% endif %}
							{% if hasPAT %}
								<li>
									<a class="dropdown-item" href="{{ path('planningAtelier_vue') }}">Planning Atelier</a>
								</li>
							{% endif %}

						</ul>
					</li>
				{% endif %}
				<!-- FIN Demande d'intervention -->

				<!-- DEBUT Dématérialisation -->
				{% if hasBDM or hasDOM %}
					{% set col1 %}
					{% if hasDOM %}
						<div class="dropdown-line">
							<p class="dropdown-header">
								<i class="fas fa-file-alt me-2"></i>Ordre de Mission</p>
							<a class="dropdown-item" href="{{ path("dom_first_form")}}">
								<i class="fas fa-plus-circle me-2"></i>Nouvelle Demande</a>
							<a class="dropdown-item" href="{{ path("doms_liste")}}">
								<i class="fas fa-search me-2"></i>Consultation</a>
						</div>
						{% if hasMUT %}
							<div class="dropdown-line">
								<p class="dropdown-header">
									<i class="fas fa-exchange-alt me-2"></i>Mutation</p>
								<a class="dropdown-item" href="{{ path("mutation_nouvelle_demande")}}">
									<i class="fas fa-plus-circle me-2"></i>Nouvelle Demande</a>
								<a class="dropdown-item" href="{{ path("mutation_liste")}}">
									<i class="fas fa-search me-2"></i>Consultation</a>
							</div>
						{% endif %}
					{% endif %}
					{% endset %}

					{% set col2 %}
					{% if hasBDM %}
						<div class="dropdown-line">
							<p class="dropdown-header">
								<i class="fas fa-truck-moving me-2"></i>Mouvement matériel (BADM)</p>
							<a class="dropdown-item" href="{{ path("badms_newForm1")}}">
								<i class="fas fa-plus-circle me-2"></i>Nouvelle Demande</a>
							<a class="dropdown-item" href="{{ path("badmListe_AffichageListeBadm")}}">
								<i class="fas fa-search me-2"></i>Consultation</a>
						</div>
						<div class="dropdown-line">
							<p class="dropdown-header">
								<i class="fas fa-archive me-2"></i>Casier</p>
							<a class="dropdown-item" href="{{ path("casier_nouveau")}}">
								<i class="fas fa-plus-circle me-2"></i>Nouveau Casier</a>
							<a class="dropdown-item" href="{{ path("listeTemporaire_affichageListeCasier")}}">
								<i class="fas fa-search me-2"></i>Consultation Casier</a>
						</div>
					{% endif %}
					{% endset %}

					<li class="nav-item dropdown" id="Dematerialisation">
						<a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							Dématérialisation
						</a>
						<ul class="dropdown-menu dropdown-menu-end p-3" aria-labelledby="navbarDropdown" style="min-width: 500px;">
							<div class="dropdown-grid" style="--col-count: {{ [col1, col2]|filter(v => v|trim is not empty)|length }};">
								{% if col1|trim is not empty %}
									<div class="dropdown-column">{{ col1|raw }}</div>
								{% endif %}
								{% if col2|trim is not empty %}
									<div class="dropdown-column">{{ col2|raw }}</div>
								{% endif %}
							</div>
						</ul>
					</li>
				{% endif %}
				<!-- FIN Dématérialisation -->
				{# DEBUT Affiche le menu "Dematerialisation"  #}

				{# DEMANDE D'APPROVISIONNEMENT #}
					{% if hasDAP %}
						<li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							Demande d'Appro</a>
						<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
							{% if constant('App\\Entity\\admin\\Service::ID_ATELIER')  in serv_auto_ids or constant('App\\Entity\\admin\\utilisateur\\Role::ROLE_ADMINISTRATEUR') in role_ids %}
								<li>
									<a class="dropdown-item" href="{{ path('da_first_form') }}">Nouvelle Demande d'Appro</a>
								</li>
							{% endif %}
							<li>
								<a class="dropdown-item" href="{{ path('list_da') }}">Liste des demandes d'Appro</a>
							</li>
							{% if constant('App\\Entity\\admin\\Service::ID_APPRO') in serv_auto_ids or constant('App\\Entity\\admin\\utilisateur\\Role::ROLE_ADMINISTRATEUR') in role_ids %}
								<li>
									<a class="dropdown-item" href="{{ path('da_list_cde_frn') }}">Liste des commandes fournisseurs</a>
								</li>
							{% endif %}
						</ul>
					</li>
				{% endif %}
				{% if hasMAG %}
					{% set col1 %}
					<div class="dropdown-line">
						<p class="dropdown-header">
							<i class="fas fa-file-alt me-2"></i>OR</p>
						<a class="dropdown-item" href="{{ path("magasinListe_index") }}">
							<i class="fas fa-tasks me-2"></i>Liste des OR à traiter</a>
						<a class="dropdown-item" href="{{ path("magasinListe_or_Livrer") }}">
							<i class="fas fa-truck me-2"></i>Liste des OR à livrer</a>
					</div>
					<div class="dropdown-line">
						<p class="dropdown-header">
							<i class="fas fa-file-invoice me-2"></i>CIS</p>
						<a class="dropdown-item" href="{{ path("cis_liste_a_traiter") }}">
							<i class="fas fa-tasks me-2"></i>Liste des CIS à traiter</a>
						<a class="dropdown-item" href="{{ path("cis_liste_a_livrer") }}">
							<i class="fas fa-truck me-2"></i>Liste des CIS à livrer</a>
					</div>
					{% endset %}

					{% set col2 %}
					{% if hasCFR %}
						<div class="dropdown-line">
							<p class="dropdown-header">
								<i class="fas fa-truck me-2"></i>CDE Fournisseur</p>
							<a class="dropdown-item" href="{{ path("cde_fournisseur") }}">
								<i class="fas fa-paper-plane me-2"></i>Soumission commande fournisseur</a>
						</div>
					{% endif %}
					{% if hasDDP %}
						<div class="dropdown-line">
							<p class="dropdown-header">
								<i class="fas fa-money-bill-wave me-2"></i>Demande de paiement</p>
							<a class="dropdown-item" href="#" id="modalTypeDemande">
								<i class="fas fa-plus-circle me-2"></i>Nouvelle Demande</a>
							<a class="dropdown-item" href="{{ path("ddp_liste") }}">
								<i class="fas fa-search me-2"></i>Consultation des demandes</a>
						</div>
					{% endif %}
					{% endset %}

					{% set col3 %}
					{% if hasINV %}
						<div class="dropdown-line">
							<p class="dropdown-header">
								<i class="fas fa-boxes me-2"></i>INVENTAIRE</p>
							<a class="dropdown-item" href="{{ path("liste_inventaire", {'action': 'oui'}) }}">
								<i class="fas fa-list-ol me-2"></i>Liste inventaire</a>
							<a class="dropdown-item" href="{{ path("liste_detail_inventaire", {'action': 'oui'}) }}">
								<i class="fas fa-list-ul me-2"></i>Inventaire détaillé</a>
						</div>
					{% endif %}
					{% if hasLCF %}
						<div class="dropdown-line">
							<p class="dropdown-header">
								<i class="fas fa-clipboard-list me-2"></i>LISTE CDE FOURNISSEUR</p>
							<a class="dropdown-item" href="{{ path("liste_Cde_Frn_Non_Placer") }}">
								<i class="fas fa-exclamation-circle me-2"></i>Commande non placée</a>
						</div>
					{% endif %}
					{% if hasBDL %}
						<div class="dropdown-line">
							<p class="dropdown-header">
								<i class="fas fa-box-open me-2"></i>SORTIE DE PIECES</p>
							<a class="dropdown-item" href="{{ path("bl_soumission") }}">
								<i class="fas fa-plus-circle me-2"></i>Nouvelle demande</a>
						</div>
					{% endif %}
					{% endset %}

					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							Magasin
						</a>
						<ul class="dropdown-menu dropdown-menu-end p-3" aria-labelledby="navbarDropdown" style="min-width: 700px;">
							<div class="dropdown-grid" style="--col-count: {{ [col1, col2, col3]|filter(v => v|trim is not empty)|length }};">
								{% if col1|trim is not empty %}
									<div class="dropdown-column">{{ col1|raw }}</div>
								{% endif %}
								{% if col2|trim is not empty %}
									<div class="dropdown-column">{{ col2|raw }}</div>
								{% endif %}
								{% if col3|trim is not empty %}
									<div class="dropdown-column">{{ col3|raw }}</div>
								{% endif %}
							</div>
						</ul>
					</li>
				{% endif %}

				{% if hasTIK %}
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							Support Info</a>
						<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
							<li>
								<a class="dropdown-item" href="{{ path("demande_support_informatique")}}" id="creationNouveauTicket" data-tik-resolu="{{ App.ticketing.nbrTicketResolu }}">Nouvelle Demande</a>
							</li>
							<li>
								<a class="dropdown-item" href="{{ path("liste_tik_index")}}">Consultation
								</a>
							</li>
							<li>
								<a class="dropdown-item" href="{{ path("tik_calendar_planning")}}">Planning</a>
							</li>
						</ul>
					</li>
				{% endif %}
				{% if hasREP %}
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							Reporting</a>
						<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
							<li>
								<a class="dropdown-item" href="{{ path('planning_vue', {'action': 'oui'}) }}">Planning</a>
							</li>
							<li>
								<a class="dropdown-item" href="{{ path('liste_planning', {'action': 'oui'}) }}">Planning détaillé</a>
							</li>
						</ul>
					</li>
				{% endif %}


				<li class="nav-item dropdown">

					<a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: #fbbb01;">{{ App.user.nomUtilisateur}}</a>


					<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
						<li>
							<a class="dropdown-item" href="{{ path("badm_index")}}">Procédure d'utilisation</a>
						</li>

						<li>
							<hr class="dropdown-divider"/>
						</li>
						<li>
							<a class="dropdown-item" href="{{ path("auth_deconnexion")}}" id="logoutLink">Déconnexion</a>
						</li>
					</ul>
				</li>


				{% if 1 in role_ids or 7 in role_ids %}
					<li class="nav-item dropdown" id="Setting">
						<a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: #fbbb01;">
							Setting
						</a>

						<ul class="dropdown-menu dropdown-menu-end p-3" aria-labelledby="navbarDropdown" style="min-width: 600px;">
							<div class="row">
								<div class="col-md-4">
									<li>
										<a class="dropdown-item" href="{{ path('personnel_index') }}">Personnels</a>
									</li>
									<li>
										<a class="dropdown-item" href="{{ path('AgServIrium_index') }}">Agence Service Irium</a>
									</li>
									<li>
										<a class="dropdown-item" href="{{ path('role_index') }}">Rôles</a>
									</li>
									<li>
										<a class="dropdown-item" href="{{ path('permission_index') }}">Permissions</a>
									</li>
									<li>
										<a class="dropdown-item" href="{{ path('application_index') }}">Applications</a>
									</li>
								</div>

								<div class="col-md-4">
									<li>
										<a class="dropdown-item" href="{{ path('agence_index') }}">Agence</a>
									</li>
									<li>
										<a class="dropdown-item" href="{{ path('service_index') }}">Service</a>
									</li>
									<li>
										<a class="dropdown-item" href="{{ path('societte_index') }}">Sociétés</a>
									</li>
									<li>
										<a class="dropdown-item" href="#">Type de Document</a>
									</li>
									<li>
										<a class="dropdown-item" href="#">Statut App</a>
									</li>
								</div>

								<div class="col-md-4">
									<li class="dropdown-header">Utilisateur</li>
									<li>
										<a class="dropdown-item" href="{{ path('utilisateur_index') }}">Utilisateur</a>
									</li>
									<li>
										<a class="dropdown-item" href="{{ path('contact_agence_ate_index') }}">Contact Agence</a>
									</li>
									<li class="dropdown-header">Historique</li>
									<li>
										<a class="dropdown-item" href="{{ path('consultation_page_index') }}">Consultation de pages</a>
									</li>
									<li>
										<a class="dropdown-item" href="{{ path('operation_document_index') }}">Historique opération</a>
									</li>
								</div>
							</div>
						</ul>
					</li>

				{% endif %}
			</ul>
		</li>


	</div>

</div></nav>
