{% set role_ids = App.user.roleIds %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-dark sticky-top border-bottom" id="main-nav-bar">
	<div
		class="container-fluid mx-4">

		<!-- Logo -->
		<a class="navbar-brand ms-3" href="{{ path('profil_acceuil') }}">
			<img src="{{ asset('build/images/logoHFF.jpg') }}" id="LogoHFF" alt="Logo HFF" style="height: 40px;">
		</a>

		<div class="chrono-container ms-5">
			<div class="chrono-bar">
				<div class="chrono-progress"></div>
			</div>
			<div class="chrono-text text-white" id="chrono-text">15:00</div>
		</div>

		<!-- Bouton burger -->
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!-- Contenu -->
		<div class="collapse navbar-collapse" id="mainNavbar">
			<div
				class="d-lg-flex justify-content-between w-100 align-items-center">

				<!-- Menu utilisateur -->
				<ul class="navbar-nav ms-lg-auto">
					<li class="me-3">
						<a class="app-version" href="{{ App.base_path_fichier }}/version/Versions Intranet 2025 10 31.pdf" target="_blank" role="button">
							<i class="fas fas fa-tag"></i>
							Version: V20251031.4.0.0
						</a>
					</li>
					<li class="me-3">
						<a class="guide-link" href="{{ App.base_path_fichier }}/documentation/Guide utilisateur intranet.pdf" target="_blank" role="button">
							<i class="fas fa-info pe-2"></i>
							Guide utilisateur intranet
						</a>
					</li>
					{% if 7 in role_ids %}
						<li class="me-3">
							<a class="tech-doc-link" href="{{ path('app_doc_tech_index') }}" role="button">
								<i class="fas fa-code pe-2"></i>
								Documentation Technique
							</a>
						</li>
					{% endif %}
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" id="userName" data-user-first-name="{{ App.user.Personnels.prenoms }}" data-user-last-name="{{ App.user.Personnels.nom }}" ria-expanded="false" style="color: #fbbb01;">
							<i class="fas fa-user pe-1"></i>
							{{ App.user.Personnels.prenoms ~ '.' ~ App.user.Personnels.nom }}
						</a>
						<ul class="dropdown-menu dropdown-menu-end">
							{% if 1 in role_ids or 7 in role_ids %}
								<li class="dropstart">
									<a class="dropdown-item dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: #fbbb01;">
										<i class="fas fa-shield-alt pe-2"></i>
										Administrateur
									</a>
									<ul class="dropdown-menu p-3" style="min-width: 720px;">
										<div
											class="row g-3">

											<!-- Colonne 1 -->
											<div class="col-md-4">
												<li class="dropdown-header">
													<i class="fa-solid fa-user-shield me-2"></i>Accès & Sécurité</li>
												<li>
													<a class="dropdown-item" href="{{ path('utilisateur_index') }}">
														<i class="fa-solid fa-user me-2"></i>Utilisateurs</a>
												</li>
												<li>
													<a class="dropdown-item" href="{{ path('role_index') }}">
														<i class="fa-solid fa-users-gear me-2"></i>Rôles</a>
												</li>
												<li>
													<a class="dropdown-item" href="{{ path('permission_index') }}">
														<i class="fa-solid fa-key me-2"></i>Permissions</a>
												</li>

												<li class="dropdown-header mt-2">
													<i class="fa-solid fa-cubes me-2"></i>Applications & Intégrations</li>
												<li>
													<a class="dropdown-item" href="{{ path('application_index') }}">
														<i class="fa-solid fa-layer-group me-2"></i>Applications</a>
												</li>
												<li>
													<a class="dropdown-item" href="{{ path('AgServIrium_index') }}">
														<i class="fa-solid fa-building-circle-arrow-right me-2"></i>Agence Service Irium</a>
												</li>
											</div>

											<!-- Colonne 2 -->
											<div class="col-md-4">
												<li class="dropdown-header">
													<i class="fa-solid fa-sitemap me-2"></i>Organisation</li>
												<li>
													<a class="dropdown-item" href="{{ path('societte_index') }}">
														<i class="fa-solid fa-building me-2"></i>Sociétés</a>
												</li>
												<li>
													<a class="dropdown-item" href="{{ path('agence_index') }}">
														<i class="fa-solid fa-city me-2"></i>Agences</a>
												</li>
												<li>
													<a class="dropdown-item" href="{{ path('service_index') }}">
														<i class="fa-solid fa-briefcase me-2"></i>Services</a>
												</li>
												<li>
													<a class="dropdown-item" href="{{ path('personnel_index') }}">
														<i class="fa-solid fa-id-card me-2"></i>Personnels</a>
												</li>
												<li>
													<a class="dropdown-item" href="{{ path('contact_agence_ate_index') }}">
														<i class="fa-solid fa-address-book me-2"></i>Contacts d'agence</a>
												</li>
											</div>

											<!-- Colonne 3 -->
											<div class="col-md-4">
												<li class="dropdown-header">
													<i class="fa-solid fa-clock-rotate-left me-2"></i>Historique</li>
												<li>
													<a class="dropdown-item" href="{{ path('consultation_page_index') }}">
														<i class="fa-solid fa-eye me-2"></i>Consultation de pages</a>
												</li>
												<li>
													<a class="dropdown-item" href="{{ path('operation_document_index') }}">
														<i class="fa-solid fa-file-circle-check me-2"></i>Historique des opérations</a>
												</li>

												<li class="dropdown-header mt-2">
													<i class="fa-solid fa-ticket me-2"></i>Tickets</li>
												

												<li class="dropdown-header mt-2">
													<i class="fa-solid fa-database me-2"></i>Référentiels</li>
												<li>
													<a class="dropdown-item" href="#">
														<i class="fa-solid fa-file-lines me-2"></i>Types de document</a>
												</li>
												<li>
													<a class="dropdown-item" href="#">
														<i class="fa-solid fa-toggle-on me-2"></i>Statuts d’application</a>
												</li>
											</div>
										</div>
									</ul>
								</li>
							{% endif %}
							<li>
								<a class="dropdown-item text-danger" href="{{ path('auth_deconnexion') }}" id="logoutLink">
									<i class="fas fa-power-off pe-2"></i>
									Se déconnecter
								</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
</nav>
