{% extends "baseTemplate.html.twig"%}

{# {% form_theme form _self %} #}

{% block content %}
	<div class="container">
		<h2>
			Modification Profil User
		</h2>
		{{ form_start(form) }}
		{{ form_errors(form)}}

		<div class="row">
			<div class="col-12 col-md-6">
				{{ form_row(form.app) }}
				{{ form_row(form.utilisateur) }}
				{{ form_row(form.profil) }}
			</div>
			<div class="col-12 col-md-6">

				{{ form_row(form.matricule) }}
				{{ form_row(form.mail) }}
			</div>
		</div>


		<button type="submit" class="btn btn-primary ajout-overlay">
			<i class="fas fa-pen-to-square"></i>
			Modifier
		</button>
		{{ form_end(form) }}
	</div>
{% endblock %}
